
[landslide]
# pas d'alternative au chemin en dur ! :(
theme  = /home/xtrm/www/A-la-chasse-aux-faux-semblants/themes/prez
source = title.md
         01_intro
	 02_les_bons_points
	 03_les_derives
	 04_conclusion
destination = prez-html5slide.html
#css =    my_first_stylesheet.css
#js =     jquery.js
relative = True
embed = True
linenos = inline
